

@{
    <link rel="stylesheet" href="~/KiscoTIC/dist/CSS/_Layout.css" />
}

<nav>
    <img id="img_nav" src="~/KiscoTIC/dist/CSS/IMG/logo UTM-01.png">
    <ul id="barra_nav">

        <li class="fila"><a class="boton" asp-area="" asp-controller="KioscoTIC" asp-action="Index"> Inicio </a></li>
        <li class="fila"><a class="boton" asp-area="" asp-controller="KioscoTIC" asp-action="Proyectos"> Proyectos </a></li>
        <li class="fila"><a class="boton" asp-area="" asp-controller="KioscoTIC" asp-action="Divisiones"> Divisiones </a></li>
        <li class="fila"><a class="boton" asp-area="" asp-controller="KioscoTIC" asp-action="AcercaDe"> Acerca De </a></li>
        <li class="fila"><a class="boton" asp-area="" asp-controller="KioscoTIC" asp-action="Login"> Iniciar Sesión </a></li>
    </ul>
</nav>

