@model ProyectoAplicacionesWeb.Models.Divisione

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar división</h1>

<h3>¿Estas seguro que desea eliminar esta división?</h3>
<div>
    <h4>División</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDivision)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoDivisiones" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a todas las divisiones</a>
    </form>
</div>
