@model IEnumerable<ProyectoAplicacionesWeb.Models.Profesore>

<link rel="stylesheet" href="~/KiscoTIC/dist/CSS/div_MISE.css" />

<div class="banner">
    <br><br><br><br><br><br><br><br>
    <h1> Administración.</h1>
    <br><br><br><br><br><br><br><br>
    <ul>
        <li><a asp-action="Proyectos"> Ver proyectos </a></li>
        <li><a href="#profesores"> Profesores </a></li>
        <li><a href="#planes"> Planes de Estudio</a></li>
    </ul>
</div>
<div id="container">
    <p> División de Administración Pública. Es una división de investigación y docencia especializada, empírica y aplicada sobre temas que relacionan íntimamente las condiciones de la actividad gubernamental y de políticas públicas con los valores, expectativas y necesidades propias de una democracia plural.</p>
    <br>
    <br>
    <br>
    <h1 id="profesores"> Profesores </h1>
    <hr>
    <table width="90%" bgcolor="#00C605" bordercolor="#00C605" Caption="Mascotas" text-align="center">

        <tr> <td> <b>Nombre</b> </td> <td> <b>Apellido Paterno</b> </td> <td> <b>Apellido Materno</b> </td></tr>
        @foreach (var item in Model)
        {
            if ((item.ClaveDivisionMaestros == 3) && (item.Estatus == true))
            {
                <tr> <td bgcolor="white"> @Html.DisplayFor(modelItem => item.Nombre) </td> <td bgcolor="white"> @Html.DisplayFor(modelItem => item.ApellidoP) </td> <td bgcolor="white"> @Html.DisplayFor(modelItem => item.ApellidoM) </td></tr>
            }
        }
    </table>
    <br>
    <br>
    <br>
    <h1 id="planes"> Planes de Estudio </h1>
    <hr>
    <br>
    <br>
    <br>
    <section class="proyectos_division">
        <div class="card" style="width:25%; margin:auto; padding:5px; text-align:center">
            <h5 class="card-header" style="background-color: black; color: #18BF00"> TSU Área Capital Humano </h5>

            <div class="card-body" padding:20px">
                <a class="btn btn-success" style="text-decoration: none" href="~/KiscoTIC/dist/CSS/IMG/capital humano.jpg" download="Plan de Estudio Capital Humano"> Descargar </a>
            </div>
        </div>

        <div class="card" style="width:25%; margin:auto; padding:5px; text-align:center">
            <h5 class="card-header" style="background-color: black; color: #18BF00"> TSU Gastronomia </h5>

            <div class="card-body" padding:20px">
                <a class="btn btn-success" style="text-decoration: none" href="~/KiscoTIC/dist/CSS/IMG/gastronomia.jpg" download="Plan de Estudio Gastronomia"> Descargar </a>
            </div>
        </div>

        <div class="card" style="width:25%; margin:auto; padding:5px; text-align:center">
            <h5 class="card-header" style="background-color: black; color: #18BF00"> TSU Turismo Área Hoteleria </h5>

            <div class="card-body" padding:20px">
                <a class="btn btn-success" style="text-decoration: none" href="~/KiscoTIC/dist/CSS/IMG/area hoteleria.jpg" download="Plan de Estudio Turismo Area Hotelería"> Descargar </a>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>