@model IEnumerable<ProyectoAplicacionesWeb.Models.Proyecto>
@{
    <link rel="stylesheet" href="~/KiscoTIC/dist/CSS/NuevoProyecto.css" type="text/css">
}

<div class="banner">

    <h1> Proyectos escolares</h1>
</div>
<partial name="Proyecto2" />
